* {
    font-family: Verdana, sans-serif;
}

main {
    width: 80%;
    margin: 0 auto;
    background-color: #FFD28F;
    opacity: 80%;
    padding: 20px;
    border-radius: 10px;
}

body {
    background-color: #83A2FF;
}